<div class="item comment-btn">
    <form>
        <button type="button" style="border-style: none;">
            <i class="far fa-comment"></i>
        </button>
    </form>
    <p class="post-comment-count"><%= idea.comments.count %></p>
</div>
<div class="comment-modal">
    <div class="comment-modal__content">
        <div class="idea-category">
            <div class="label">カテゴリー</div>
            <%= idea.category.name %>
        </div>
        <div class="idea-title">
            <div class="label">タイトル</div>
            <%= idea.title %>
        </div>
        <div class="idea-content">
            <div class="label">内容</div>
            <%= idea.content %>
        </div>
        <div class="comment-form">
            <%= form_with(model: current_user.comments.build, local: true) do |f| %>
                <div class="idea-form-wrap">
                    <div class="label">コメント</div>
                    <%= f.text_field :content, class: 'comment-area', placeholder: 'コメントを入力' %>
                    <%= hidden_field_tag :post_id, idea.id %>
                </div>
            	<%= f.submit '保存', class: '' %>
            <% end %>
        </div>
        <div class="idea-comments">
           <% idea.comments.each do |comment| %>
               <%= comment.content %>
           <% end %>
        </div>
        <div class="close-btn">
            <span></span>
            <span></span>
        </div>
    </div>
</div>