<% if logged_in? %>
    <section class="main">
        <div class="main-menu">
            <p class="cat-create-btn main-menu__btn"><i class="fas fa-pen"></i></p>
            <p class="cat-delete-btn main-menu__btn"><i class="far fa-trash-alt"></i></p>
            <div class="cat-create-modal main-menu__modal">
                <div class="main-menu__modal__content create">
                    <%= form_with(model: @category, local: true) do |f| %>
                        <p class="cat-form-title">カテゴリーの作成</p>
                        <%= f.text_field :name, class: 'cat-form-content', placeholder: '新しいカテゴリーを作成' %>
                        <%= f.submit '作成', class: 'cat-form-btn' %>
                    <% end %>
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="cat-delete-modal main-menu__modal">
                <div class="main-menu__modal__content delete">
                    <p class="cat-form-title">カテゴリーの削除</p>
                    <% @categories.each do |category| %>
                        <p class="delete-cat">
                            <%= category.name %>
                            <span class="delete-btn">
                                <%= link_to category, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'delete-btn', :method => :delete do %>
                                    <i class="far fa-trash-alt"></i>
                                <% end %>
                            </span>
                        </p>
                    <% end %>
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="folder">
                <div class="folder-top">
                    <div class="folder-title">
                        <% @categories.each do |category| %>
                            <div id="category" class="tab folder-title__wrap">
                                <div class="folder-title__item">
                                    <p><%= category.name %></p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="folder-top--over"></div>
                </div>
                <div class="folder-content">
                    <div class="add-idea">
                        <p class="add-idea__btn">
                            <span><i class="fas fa-plus"></i></span>
                            アイデアを追加する
                        </p>
                        <div class="add-idea__form">
                            <div class="add-idea__form__content create">
                                <p class="cat-form-title">アイデアの作成</p>
                                <%= form_with(model: @post, local: true) do |f| %>
                                    <div class="idea-form-wrap">
                                        <%= f.label :category_id, 'カテゴリー名', class: 'idea-form-category' %>
                                        <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: false}, {class: 'form-item category'}) do |category| %>
                                        <% end %>
                                    </div>
                                    <div class="idea-form-wrap">
                                    	<p class="idea-form-title">タイトル</p>
                                    	<%= f.text_field :title, class: 'form-item title', placeholder: 'タイトルを入力' %>
                                    </div>
                                	<div class="idea-form-wrap">
                                    	<p class="idea-form-content">内容</p>
                                    	<%= f.text_area :content, class: 'form-item content', placeholder: '内容を入力' %>
                                	</div>
                                	<%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
                                <% end %>
                                <div class="close-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="folder-content__container">
                        <% @categories.each do |category| %>
                            <div class="folder-content__wrap">
                                <div class="folder-flex">
                                    <% category.posts.where(user_id: @current_user.id).order(id: :desc).each do |idea| %>
                                        <div class="folder-item">
                                            <div class="folder-item__wrap">
                                                <div class="folder-item__title">
                                                    <p><%= idea.title %></p>
                                                </div>
                                                <div class="folder-item__content">
                                                    <p><%= idea.content %></p>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Welcome to Aedi</h1>
            <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<% end %>