<% if logged_in? %>
    <section class="main">
        <div class="main-menu">
            <%= render 'categories/category'%>
        </div>
        <div class="main-content">
            <%= render 'users/users_top'%>
            <div class="folder">
                <%= render 'categories/category_tab'%>
                <div class="folder-content">
                    <%= render 'posts/post_create'%>
                    <div class="folder-content__container">
                        <% @categories.each do |category| %>
                            <div class="folder-content__wrap">
                                <div class="folder-flex">
                                    <% category.posts.where(user_id: current_user.following_ids + [current_user.id]).order(id: :desc).each do |idea| %>
                                        <div class="folder-item">
                                            <div class="folder-item__wrap">
                                                <div class="folder-item__title">
                                                    <p><%= idea.title %></p>
                                                </div>
                                                <div class="folder-item__content">
                                                    <p><%= idea.content %></p>
                                                </div>
                                                <div class="folder-item__menu">
                                                    <%= render 'favorites/like_button', idea: idea %>
                                                    <%= render 'comments/comment', idea: idea %>
                                                    <%= render 'posts/post_modify', idea: idea %>
                                                </div>
                                                <div class="folder-item__create-user">
                                                    <p><%= idea.user.name %></p>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% else %>
    <div class="center jumbotron">
        <div class="text-center">
            <h1>Welcome to Aedi</h1>
            <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
    </div>
<% end %>