<ul class="list-unstyled">
  <% posts.each do |idea| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(idea.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to idea.user.name, user_path(idea.user) %> <span class="text-muted">posted at <%= idea.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= idea.content %></p>
        </div>
        <div>
          <% if current_user == idea.user %>
            <%= link_to "Delete", idea, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>