<% if idea.user_id == current_user.id %>
    <div class="item modify-btn"><i class="fas fa-pen"></i></div>
    <div class="item delete-btn">
        <%= link_to idea, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'delete-btn', :method => :delete do %>
            <i class="far fa-trash-alt"></i>
        <% end %>
    </div>
<% end %>
<% if idea.user_id == current_user.id %>
    <div class="window folder-item__modify-modal">
        <div class="window__content modify-modal-content">
            <%= form_with(model: idea, local: true) do |f| %>
            <p class="window__content__title">アイデアの更新</p>
                <div class="idea-form-wrap">
                    <%= f.label :category_id, 'カテゴリー名', class: 'label' %>
                    <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: false }, {class: 'form-item category'}) do |category| %>
                    <% end %>
                </div>
                <div class="idea-form-wrap">
                	<p class="label">タイトル</p>
                	<%= f.text_field :title, class: 'form-item title'%>
                </div>
            	<div class="idea-form-wrap">
                	<p class="label">内容</p>
                	<%= f.text_area :content, class: 'form-item content' %>
            	</div>
            	<%= f.submit '保存'%>
            <% end %>
            <div class="close-btn">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
<% end %>