<p class="cat-create-btn main-menu__btn"><i class="fas fa-pen"></i></p>
<p class="cat-delete-btn main-menu__btn"><i class="far fa-trash-alt"></i></p>
<div class="window cat-create-modal main-menu__modal">
    <div class="window__content main-menu__modal__content create">
        <%= form_with(model: @category, local: true) do |f| %>
            <p class="window__content__title">カテゴリーの作成</p>
            <%= f.text_field :name, class: 'cat-form-content', placeholder: '新しいカテゴリーを作成' %>
            <%= f.submit '保存', class: 'cat-form-btn' %>
        <% end %>
        <div class="close-btn">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="window cat-delete-modal main-menu__modal">
    <div class="window__content main-menu__modal__content delete">
        <p class="window__content__title">カテゴリーの削除</p>
        <% @categories.each do |category| %>
            <p class="delete-cat">
                <%= category.name %>
                <span class="delete-btn">
                    <%= link_to category, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'delete-btn', :method => :delete do %>
                        <i class="far fa-trash-alt"></i>
                    <% end %>
                </span>
            </p>
        <% end %>
        <div class="close-btn">
            <span></span>
            <span></span>
        </div>
    </div>
</div>